[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "smoothAPC"]
	path = smoothAPC
	url = https://github.com/cran/smoothAPC
	shallow = true
	registered = true
[submodule "stR"]
	path = stR
	url = https://bitbucket.org/alexanderdokumentov/strpackage
	shallow = true
	subdir = stR
	registered = true
