[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "smoothAPC"]
	path = smoothAPC
	url = https://bitbucket.org/alexanderdokumentov/smoothapcpackage
	subdir = smoothAPC
